@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&family=Roboto+Slab&family=Roboto:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.top-navbar {
    width: 100%;
    height: 7vh;
    background: rgba(0, 0, 0, 0.273);
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-between;
}

.top-icons {
    margin-left: 45px;
}

.top-icons i {
    font-size: 25px;
    color: black;
    margin-left: 10px;
}

.other-links {
    margin-right: 33px;
}

.other-links i {
    color: black;
    font-size: 20px;
    margin-left: 10px;
}

#btn-login {
    width: 100px;
    border: 2px solid navy;
    color: navy;
    font-weight: bold;
    border-radius: 5px;
    height: 5vh;
    transition: 0.5s ease;

}

#btn-login a {
    text-decoration: none;
    color: navy;
    transition: 0.5s ease;

}

#btn-login a:hover {
    background-color: navy;
    color: white;
}

#btn-login:hover {
    background-color: navy;
    color: white;
}

#btn-signup {
    width: 100px;
    border: 2px solid navy;
    color: navy;
    font-weight: bold;
    border-radius: 5px;
    height: 5vh;
    transition: 0.5s ease;

}

#btn-signup a {
    text-decoration: none;
    color: navy;
    transition: 0.5s ease;

}

#btn-signup a:hover {
    background-color: navy;
    color: white;
}

#btn-signup:hover {
    background-color: navy;
    color: white;
}

@media screen and (max-width:500px) {
    .top-icons {
        margin-left: 30px;
    }

    .top-icons i {
        font-size: 15px;
    }

    .other-links i {
        font-size: 15px;
    }

    #btn-login {
        width: 60px;
        height: 5vh;
    }

    #btn-signup {
        width: 70px;
        height: 5vh;
    }

    #btn-signup a {
        font-size: 15px;
    }

    #btn-login a {
        font-size: 15px;
    }
}

@media screen and (max-width:350px) {
    .top-icons {
        margin-left: 10px;
    }

    .top-icons i {
        font-size: 10px;
    }

    .other-links i {
        font-size: 10px;
    }

    #btn-login {
        width: 40px;
        height: 5vh;
    }

    #btn-signup {
        width: 50px;
        height: 5vh;
    }

    #btn-signup a {
        font-size: 10px;
    }

    #btn-login a {
        font-size: 10px;
    }
}

/* home-section */

.home-secton {
    width: 100%;
    height: 93vh;
    background-color: #a9a9a962;
}

.home-secton a {
    color: white;
}


#navbar {
    background-color: rgba(0, 128, 0, 0.769);
    font-size: 16px;
    font-family: 'Roboto Slab', serif;
}

#navbar .nav-link {
    color: white;
    font-weight: bold;
    margin-left: 5px;
    transition: 0.5s ease;
}

#navbar .nav-link:hover {
    color: white;
    border-radius: 5px;
}

.dropdown li {
    color: white;
    background-color: ;
}

.home {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    position: relative;
    z-index: 0;
    font-family: 'Roboto Slab', serif;

}

.home .img {
    flex: 1 1 400px;
}

.home .img img {
    width: 70%;
    height: 600px;
    margin-left: 100px;
}

.home .content {
    flex: 1 1 400px;
    margin-top: 30px;
}

.content h3 {
    margin-left: 70px;
    font-size: 50px;
    text-shadow: 1px 1px 1px black;
    color: navy;
    font-weight: bold;
}

.content h3 span {
    font-size: 40px;
}

.content p {
    margin-left: 70px;
    color: navy;
}

.content #shopnow {
    margin-left: 70px;
    width: 200px;
    height: 38px;
    border: 2px solid rgba(0, 128, 0, 0.769);
    font-weight: bold;
    transition: 0.5s ease;

}

.content #shopnow:hover {
    background-color: rgba(0, 128, 0, 0.769);
    color: white;
}

@media screen and (max-width:800px) {
    .content h3 {
        margin-left: 50px;
        font-size: 40px;

    }

    .content p {
        margin-left: 50px;

    }

    .content #shopnow {
        margin-left: 50px;
    }

}

@media screen and (max-width:550px) {
    .content h3 {
        margin-left: 20px;
        font-size: 30px;
        text-align: center;

    }

    .content p {
        margin-left: 20px;
        font-size: 30px;
        text-align: center;

    }

    .content #shopnow {
        margin-left: 100px;


    }
}

@media screen and (max-width:414px) {
    .home .img img {
        width: 70%;
        height: 400px;
        margin-left: 80px;
    }
}

@media screen and (max-width:800px) {
    .home-secton {
        height: 170vh;
    }


}

@media screen and (max-width:550px) {
    .home-secton {
        height: 170vh;
    }
}

#top-cards {
    margin-top: 30px;
    font-family: 'Roboto Slab', serif;

}

#top-cards .card img {
    height: 50vh;
    opacity: .5;
}

#top-cards h4 {
    color: navy;
    font-weight: bold;
    text-align: center;
}

#top-cards button {
    width: 150px;
    height: 33px;
    font-weight: bold;
    letter-spacing: 3px;
    /* background-color: navy; */
    background: transparent;
    color: navy;
    border: 2px solid navy;
    transition: 0.5s ease;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

#top-cards button:hover {
    background-color: navy;
    color: white;

}

#top-cards p {
    color: na;
}

.cashbtn {
    text-align: center;
    background-color: white;
    border-radius: 10px;
}

.orderbtn {
    text-align: center;
}

.banner {
    width: 100%;
    height: 50vh;
    margin-top: 50px;
    background-image: url(./images/banner2.jpeg);
    background-size: cover;
}

.banner .content {
    text-align: center;
    padding-top: 100px;

}

.banner .content h1 {
    color: white;
    text-shadow: 1px 1px 1px black;
    letter-spacing: 3px;
}

.banner .content p {
    color: white;
    text-shadow: 1px 1px 1px black;
    letter-spacing: 3px;

}

#bannerbtn button {
    width: 150px;
    height: 38px;
    background: transparent;
    color: white;
    border: 2px solid white;
    transition: 0.5s ease;
}
#bannerbtn button:hover{
    background-color: navy;
    border: none;
}